<% include ../partials/header %>
<div class="container">
  <h1 class="text-center">Add New Comment to <%= campground.name %></h1>

  <form action="/campgrounds/<%= campground.id %>/comments" method="POST">
    <div class="mx-auto my-4" style="width: 30%;">
      <div class="form-group my-1">
        <label for="text">Comments:</label>
        <input class="form-control" type="text" name="comment[text]" placeholder="text" id="text">
      </div>
      <button type="submit" class="btn btn-secondary btn-block my-4">Submit</button>
      <a href="/campgrounds">Go Back</a>
    </div>
  </form>

</div>
<% include ../partials/footer %>
