<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome To YelpCamp!</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p><a class="btn btn-secondary brn-lg" href="/campgrounds/new">Add a New Campground</a></p>
    </div>
  </header>

  <div class="row justify-content-around">
    <% campgrounds.forEach(campground => { %>
      <div class="card my-4" style="width: 20rem;">
        <img class="card-img-top" src="<%= campground.image %>">
        <div class="card-body">
          <h5 class="card-title"><%= campground.name %></h5>
          <p class="card-text"><%= campground.description%></p>
          <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>
